<!-- Background image -->
<section id="home">
    <div class="p-5 text-center bg-image"
        style="background-image: url('/assets/Images/img4.jpg');height: 100vh;margin-top: 58px;">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.55);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">Unlock Your Potential, Transform Your Body at Home</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="h-100">

    <div class="container py-5">
        <div class="row">

            <div class="col-12 pb-3">
                <h2>About Us</h2>
                <p>Welcome to the ultimate fitness destination in Pondicherry - [Store Name]. Are you ready to elevate
                    your fitness journey
                    and sculpt your dream body right in the comfort of your home? Look no further because [Store Name]
                    is here to make your
                    fitness goals a reality. We're your go-to fitness equipment store in Pondy, offering a wide range of
                    high-quality
                    exercise gear to help you create the perfect home gym setup.</p>
            </div>

            <div class="col-md-4 pb-5">
                <div class="card border border-info shadow-0 h-100">
                    <div class="card-body">
                        <h4 class="card-title"><i class="fas fa-globe me-1"></i>A World of Fitness Choices</h4>
                        <hr>
                        <p class="card-text">Our store boasts an extensive and diverse selection of fitness equipment
                            that caters to every fitness level and
                            preference. Whether you're a seasoned athlete or just beginning your fitness journey, you'll
                            find the perfect equipment
                            to suit your needs.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 pb-5">
                <div class="card border border-info shadow-0 h-100">
                    <div class="card-body">
                        <h4 class="card-title"><i class="fas fa-hands-helping me-1"></i>Expert Guidance</h4>
                        <hr>
                        <p class="card-text">Our knowledgeable and friendly staff are passionate about fitness and are
                            here to assist you every step of the way. They
                            can provide expert advice, product demonstrations, and help you find the equipment that
                            aligns with your fitness goals.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 pb-5">
                <div class="card border border-info shadow-0 h-100">
                    <div class="card-body">
                        <h4 class="card-title"><i class="fas fa-anchor me-1"></i>Uncompromising Quality</h4>
                        <hr>
                        <p class="card-text">At [Store Name], we understand the importance of quality when it comes to
                            fitness equipment. That's why we stock only
                            the most reputable and trusted brands in the industry. You can rest assured that the
                            equipment you purchase from us is
                            built to last.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 pb-5">
                <div class="card border border-info shadow-0 h-100">
                    <div class="card-body">
                        <h4 class="card-title"><i class="fas fa-dumbbell me-1"></i>A Diverse Range of Equipment</h4>
                        <hr>
                        <p class="card-text">We understand that every fitness enthusiast has unique
                            needs and preferences. That's why we've curated
                            an extensive selection of fitness equipment to cater to all your workout requirements. From
                            cardio machines like
                            treadmills and stationary bikes to strength training equipment like dumbbells and benches,
                            we have it all under one
                            roof. Whether you're a beginner or a seasoned pro, we have something for everyone.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 pb-5">
                <div class="card border border-info shadow-0 h-100">
                    <div class="card-body">
                        <h4 class="card-title"><i class="fas fa-check me-1"></i>Quality You Can Trust</h4>
                        <hr>
                        <p class="card-text">We take pride in offering only the best. All our fitness equipment is
                            sourced from reputable brands known for their
                            durability and performance. When you shop at [Store Name], you can trust that you're
                            investing in top-notch gear that
                            will stand the test of time, ensuring a long-lasting fitness journey.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 pb-5">
                <div class="card border border-info shadow-0 h-100">
                    <div class="card-body">
                        <h4 class="card-title"><i class="fas fa-truck me-1"></i>Delivery and Installation</h4>
                        <hr>
                        <p class="card-text">Once you've made your selection, we don't stop there. We offer prompt and
                            reliable delivery services to your doorstep,
                            making the process as convenient as possible. Additionally, our skilled technicians can help
                            with the installation and
                            setup of your equipment, ensuring it's ready for your first workout.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid d-none">
        <!-- points 1 -->
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="/assets/Images/img1.jpg" alt="" class="d-block img-fluid">
            </div>
            <div class="col-md-6 p-5">
                <h2 class="text-center">
                    Get your heart pumping and your muscles working with our top-of-the-line fitness equipment in
                    puducherry.
                </h2>
                <p>
                    Are you ready to transform your home into a fitness oasis? Look no further than Pondicherry's finest
                    destination for all your home workout needs - [Store Name]. At [Store Name], we're not just a
                    fitness equipment store; we're your partner in achieving your health and fitness goals without ever
                    leaving the comfort of your home.
                </p>
            </div>
        </div>
        <!-- points 2 -->
        <div class="row align-items-center">
            <div class="col-md-6 order-2 order-md-1 p-5">
                <h2 class="text-center">
                    A World of Fitness Choices
                </h2>
                <p>
                    Our store boasts an extensive and diverse selection of fitness equipment that caters to every
                    fitness level and
                    preference. Whether you're a seasoned athlete or just beginning your fitness journey, you'll find
                    the perfect equipment
                    to suit your needs.
                </p>
            </div>
            <div class="col-md-6 order-md-2 order-1">
                <img src="/assets/Images/img1.jpg" alt="" class="d-block img-fluid">
            </div>
        </div>
        <!-- points 3 -->
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="/assets/Images/img1.jpg" alt="" class="d-block img-fluid">
            </div>
            <div class="col-md-6 p-5">
                <h2 class="text-center">
                    Expert Guidance
                </h2>
                <p>
                    Our knowledgeable and friendly staff are passionate about fitness and are here to assist you every
                    step of the way. They
                    can provide expert advice, product demonstrations, and help you find the equipment that aligns with
                    your fitness goals.
                </p>
            </div>
        </div>
        <!-- points 4 -->
        <div class="row align-items-center">
            <div class="col-md-6 order-2 order-md-1 p-5">
                <h2 class="text-center">
                    Uncompromising Quality
                </h2>
                <p>
                    At [Store Name], we understand the importance of quality when it comes to fitness equipment. That's
                    why we stock only
                    the most reputable and trusted brands in the industry. You can rest assured that the equipment you
                    purchase from us is
                    built to last.
                </p>
            </div>
            <div class="col-md-6 order-md-2 order-1">
                <img src="/assets/Images/img1.jpg" alt="" class="d-block img-fluid">
            </div>
        </div>
        <!-- points 5 -->
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="/assets/Images/img1.jpg" alt="" class="d-block img-fluid">
            </div>
            <div class="col-md-6 p-5">
                <h2 class="text-center">
                    Expert Guidance
                </h2>
                <p>
                    Our knowledgeable and friendly staff are passionate about fitness and are here to assist you every
                    step of the way. They
                    can provide expert advice, product demonstrations, and help you find the equipment that aligns with
                    your fitness goals.
                </p>
            </div>
        </div>
    </div>

</section>

<section id="store">
    <div class="container">
        <h3 class="text-center">Introducing our top-of-the-line fitness equipment for all your cardio and strength
            training needs</h3>
    </div>
</section>