<!-- Background image -->
<section id="home">
    <div class="p-5 text-center bg-image"
        style="background-image: url('/assets/Images/img4.jpg');height: 100vh;margin-top: 58px;">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.55);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">Unlock Your Potential, Transform Your Body at Home</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="container-fluid">
        <!-- points 1 -->
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="/assets/Images/img1.jpg" alt="" class="d-block img-fluid">
            </div>
            <div class="col-md-6 p-5">
                <h2 class="text-center">
                    Get your heart pumping and your muscles working with our top-of-the-line fitness equipment in
                    puducherry.
                </h2>
                <p>
                    Are you ready to transform your home into a fitness oasis? Look no further than Pondicherry's finest
                    destination for all your home workout needs - [Store Name]. At [Store Name], we're not just a
                    fitness equipment store; we're your partner in achieving your health and fitness goals without ever
                    leaving the comfort of your home.
                </p>
            </div>
        </div>
        <!-- points 2 -->
        <div class="row align-items-center">
            <div class="col-md-6 order-2 order-md-1 p-5">
                <h2 class="text-center">
                    A World of Fitness Choices
                </h2>
                <p>
                    Our store boasts an extensive and diverse selection of fitness equipment that caters to every
                    fitness level and
                    preference. Whether you're a seasoned athlete or just beginning your fitness journey, you'll find
                    the perfect equipment
                    to suit your needs.
                </p>
            </div>
            <div class="col-md-6 order-md-2 order-1">
                <img src="/assets/Images/img1.jpg" alt="" class="d-block img-fluid">
            </div>
        </div>
    </div>

</section>

<section id="store">
    <div class="container">
        <h3 class="text-center">Introducing our top-of-the-line fitness equipment for all your cardio and strength
            training needs</h3>
    </div>
</section>